/* Menggunakan font Inter yang modern */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

/* Styling untuk trek diagram kustom 
  - user-select: none; mencegah teks terblok saat disentuh/diseret
*/
.diagram-track {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standar */
}